<div id="home">

  <div id="home_top">

    <p>Hi, my name is Noah, and I want to thank you for visiting my website. I'm a passionate IT professional and web
      developer, currently studying at Bellevue University. <br><br>

      In my free time, you'll find me constantly exploring ways to improve both personally and professionally. Whether
      it's advancing my education, or earning new certifications, I'm looking for opportunities to expand my knowledge
      and
      sharpen my skills. <br><br>

      Feel free to explore my website, and don’t hesitate to reach out—I’d be happy to connect and discuss
      opportunities.
    </p>



    <img class="about_photo" src="/assets/noah_about.jpg" alt="Noah Hamblen portrait">

  </div>

  <button routerLink="/resume">Learn More</button>

</div>