<div id="home">

  <h2>Introduction</h2>

  <div id="home_top">

    <p>Hi, my name is Noah, and I want to thank you for visiting my website. I'm a passionate IT professional and web
      developer, currently studying at Bellevue University. <br><br>

      In my free time, you'll find me constantly exploring ways to improve both personally and professionally. Whether
      it's advancing my education, or earning new certifications, I'm looking for opportunities to expand my knowledge
      and
      sharpen my skills. <br><br>

      Feel free to explore my website, and don’t hesitate to reach out—I’d be happy to connect and discuss
      opportunities.
    </p>



    <img class="about_photo" src="/assets/noah_about.jpg" alt="Noah Hamblen portrait">

  </div>

  <button routerLink="/about">Learn More</button>

  <h2 id="h2_bottom">Bucket List</h2>

  <div id="home_bottom">

    <img class="bucket_photo" src="/assets/alaska.jpg" alt="Noah Hamblen portrait">

    <ul>
      <h3>Traveling</h3>
      <li>Visit Alaska</li>
      <li>Train Itinerary in Colorado</li>
      <li>Cruise Ship in Europe</li>
      <li>Visit Popular National Parks in the US</li>
      <li>Disney World</li>
    </ul>

    <ul>
      <h3>Career Goals</h3>
      <li>Complete IT Certificates</li>
      <li>Complete College</li>
      <li>Continue to Study Web Development While Working IT</li>
      <li>Make Connections</li>
      <li>Bring Donuts for Coworkers</li>
    </ul>

    <ul>
      <h3>Personal Goals</h3>
      <li>Marry my Girlfriend</li>
      <li>Enjoy Life</li>
      <li>Stay Open Minded and Curious</li>
      <li>Dream Car and House</li>
      <li>More Cats</li>
    </ul>

  </div>

</div>