#err_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

#btn {
  background-color: pink;
  color: #142946;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background-color 0.3s;
  font-size: 3rem;
}

#btn:hover {
  background-color: #f7d1d1; /* pastel pink hover */
  text-decoration: underline;
  cursor: pointer;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  height: auto;
  width: 20rem;
}
